## **Pyhton Assignment - _PyBank_**

In [18]:

"""

This code will analyze the budget data and provide the following information
-The total number of months included in the dataset.
-The net total amount of Profit/Losses over the entire period.
-The average of the changes in Profit/Losses over the entire period.
-The greatest increase in profits (date and amount) over the entire period.
-The greatest decrease in losses (date and amount) over the entire period.

"""

'\n\nThis code will analyze the budget data and provide the following information\n-The total number of months included in the dataset.\n-The net total amount of Profit/Losses over the entire period.\n-The average of the changes in Profit/Losses over the entire period.\n-The greatest increase in profits (date and amount) over the entire period.\n-The greatest decrease in losses (date and amount) over the entire period.\n\n'

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
# set file path
budget_data = Path("budget_data.csv")

# Read CSV file and set Date solum as the index
df = pd.read_csv(budget_data, index_col="Date")
df.head()

          Profit/Losses
Date
Jan-2010         867884
Feb-2010         984655
Mar-2010         322013
Apr-2010         -69417
May-2010         310503

In [3]:
# Using count funtion determine total months in dataframe
total_months = df['Profit/Losses'].count()
print(total_months)

86

In [4]:
# Using sum fucntion determine total net profit
net_profit = df['Profit/Losses'].sum()
print(net_profit)

38382578

In [5]:
# add column labelled previous month profit/loss using shift function, display sample data 
df['Previous_Month_Profit/Loss'] = df['Profit/Losses'].shift(1)
df.head()

          Profit/Losses  Previous_Month_Profit/Loss
Date
Jan-2010         867884                         NaN
Feb-2010         984655                    867884.0
Mar-2010         322013                    984655.0
Apr-2010         -69417                    322013.0
May-2010         310503                    -69417.0

In [6]:
# add column labelled Monthly Change to change in profit/losses month over month, display sample data 
df['Monthly_Change'] = df['Profit/Losses'] - df['Previous_Month_Profit/Loss']
df.head()

          Profit/Losses  Previous_Month_Profit/Loss  Monthly_Change
Date
Jan-2010         867884                         NaN             NaN
Feb-2010         984655                    867884.0        116771.0
Mar-2010         322013                    984655.0       -662642.0
Apr-2010         -69417                    322013.0       -391430.0
May-2010         310503                    -69417.0        379920.0

In [7]:
# Caclulate average monthly change using mean function
average = round(df['Monthly_Change'].mean())
print(average)

-2315

In [8]:
# determine greatest increase using max function
greatest_increase = round(df['Monthly_Change'].max())
print(greatest_increase)

1926159

In [9]:
# determine greatest decrease using max function
greatest_decrease = round(df['Monthly_Change'].min())
print(greatest_decrease)

-2196167

In [10]:
# determine month in which greatest increase occured using idxmax function
greatest_increase_month = df['Monthly_Change'].idxmax()
print(greatest_increase_month)

Feb-2012

In [11]:
# determine month in which greatest decrease occured using idxmax function
greatest_decrease_month = df['Monthly_Change'].idxmin()
print(greatest_decrease_month)

Sep-2013

In [12]:
# Print results 
print('Financial Analysis')
print('---------------------------------')
print(f"Total Months: {total_months}")
print(f"Total: ${net_profit}")
print(f"Average Change: ${average}")
print(f"Greatest Increase in Profits: {greatest_increase_month} ${greatest_increase}")
print(f"Greatest Decrease in Profits: {greatest_decrease_month} ${greatest_decrease}")

Financial Analysis
---------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315
Greatest Increase in Profits: Feb-2012 $1926159
Greatest Decrease in Profits: Sep-2013 $-2196167

In [13]:
# Output results to text file
output_path = Path('output.txt')
with open (output_path, 'w') as file:
    file.write('Financial Analysis\n')
    file.write('---------------------------------\n')
    file.write(f"Total Months: {total_months}\n")
    file.write(f"Total: ${net_profit}\n")
    file.write(f"Average Change: ${average}\n")
    file.write(f"Greatest Increase in Profits: {greatest_increase_month} ${greatest_increase}\n")
    file.write(f"Greatest Decrease in Profits: {greatest_decrease_month} ${greatest_decrease}\n")